* {
  box-sizing: border-box;
}
section {
  margin-left: 60px !important;
  /*max-width: none !important;*/
  overflow: auto;
  position: relative;
}
section table {
  /*width: 100%;*/
  display: table;
}

header + section {
  background-color: #fffe;
  background: #DAE1E3;
  bottom: 0;
  box-shadow: 0 0 20px #AAA;
  height: 100%;
  left: 0;
  margin-left: 0 !important;
  overflow: hidden;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 340px;
  padding-left: 30px;
  z-index: 500;
  animation-name: hideSideBar;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
header + section:hover {
  overflow: auto;
  background: #FFF;
  box-shadow: 0 0 20px #aaa;
  animation-name: showSideBar;
  animation-duration: .5s;
  transition-timing-function: ease-out;
}

@keyframes showSideBar {
  from {
    transform: translateX(-280px);
  }
  80% {
    transform: translateX(0px)
  }
  to {
    transform: translateX(-20px);
  }
}

@keyframes hideSideBar {
  from {
    transform: translateX(-20px);
  }
  20% {
    transform: translateX(0px)
  }
  to {
    transform: translateX(-280px);
  }
}
